@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fundo da tela */

html{
    width: 100vw;
    height: 100vh;
    font-size: 62.5%;
    color: white;
    font-family: "Lato", sans-serif;
}

body{
    background: linear-gradient(rgba(17, 17, 17, 0.8), rgba(20, 20, 20, 1)), url(assets/img5.jpg);
    background-position: center center;
    background-size: cover;
    background-position-y: 0px;
    background-repeat: no-repeat;
}

/* Menu - Header - Nav */

header{
    width: 100%;
    height: 7vh;
    background-color: rgba(22, 22, 22, 0.2);
}

.menu-content{
    display: flex;
    height: 100%;
    justify-content: space-around;
    text-transform: uppercase;
    align-items: center;
    font-size: 1.8rem;
}

.logo{
    font-size: 1.8rem;
    letter-spacing: 0.4rem;
    cursor: pointer;
}

.menu-content .list-itens{
    display: flex;
    list-style: none;
    gap: 10px;
}

.menu-content .list-itens a{
    color: white;
    text-decoration: none;
    padding: 1.5rem;
    transition: 1ms ease-in;
    position: relative;
}

.menu-content .list-itens a:before{
    position: absolute;
    width: 0px;
    content: ' ';
    height: 1px;
    background-color: rgb(255, 255, 255);
    transition: all 1.5s ease;
    bottom: 0;
    left: 0;
}

.menu-content .list-itens a:hover:before{
    width: 100%;
}

/* Centro - Conteúdo principal */

main{
    display: flex;
    height: 93vh;
    justify-content: center;
    align-items: center;
}

.main-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Textos conteúdo principal */

.primary-text{
    width: 850px;
    font-size: 5rem;
    margin-bottom: 2rem;
    text-align: center;
}

.second-text{
    margin-bottom: 5rem;
    font-size: 2rem;
    color: rgb(165, 165, 165);
    text-transform: uppercase;
}

.btns button{
    width: 20rem;
    height: 6rem;
    margin-left: 1rem;
    margin-right: 1rem;
    background-color: transparent;
    color: white;
    border-color: white;
    border-radius: 2rem;
    text-transform: uppercase;
    transition: 0.5s;
    cursor: pointer;
}

.btns button:hover{
    letter-spacing: 0.5px;
}